In [1]:
import os
import pandas as pd

# Importing dataset
DATA_PATH = os.path.join("data", "nhgh.tsv")
gh_data = pd.read_csv(DATA_PATH, sep='\t')
gh_data.info()

# Setting of target variable
DIABETES_THRESH = 6.5 # diabetes threshold in %, diabetes is defined as gh >= DIABETES THRESH
gh_data["diabetes"] = [1 if x >= DIABETES_THRESH else 0 for x in gh_data["gh"]]
gh_data["diabetes"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6795 entries, 0 to 6794
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   seqn     6795 non-null   int64
 1   sex      6795 non-null   object
 2   age      6795 non-null   float64
 3   re       6795 non-null   object
 4   income   6475 non-null   object
 5   tx       6795 non-null   int64
 6   dx       6795 non-null   int64
 7   wt       6795 non-null   float64
 8   ht       6795 non-null   float64
 9   bmi      6795 non-null   float64
 10  leg      6564 non-null   float64
 11  arml     6616 non-null   float64
 12  armc     6607 non-null   float64
 13  waist    6556 non-null   float64
 14  tri      6314 non-null   float64
 15  sub      5824 non-null   float64
 16  gh       6795 non-null   float64
 17  albumin  6706 non-null   float64
 18  bun      6706 non-null   float64
 19  SCr      6706 non-null   float64
dtypes: float64(14), int64(3), object(3)
memory usage: 1.0+ MB

diabetes
0    6167
1     628
Name: count, dtype: int64

In [4]:
# Setting up model SQL server
import sqlite3

# # Define the data dictionary
# data_dictionary = {}
#     "seqn":("Respondent sequence number", "", "", "integer", "integer", 0),
#     "sex":( "", "", 2, "", "integer", 0),
#     "age":( "Age", "years", "", "numeric", "double", 0),
#     "re":( "Race/Ethnicity", "", 5, "", "integer", 0),
#     "income":( "Family Income", "", 14, "", "integer", 320),
#     "tx":( "On Insulin or Diabetes Meds", "", "", "integer", "integer", 0),
#     "dx":( "Diagnosed with DM or Pre-DM", "", "", "integer", "integer", 0),
#     "wt":( "Weight", "kg", "", "numeric", "double", 0),
#     "ht":( "Standing Height", "cm", "", "numeric", "double", 0),
#     "bmi":( "Body Mass Index", "kg/m^2", "", "numeric", "double", 0),
#     "leg":( "Upper Leg Length", "cm", "", "numeric", "double", 231),
#     "arml":( "Upper Arm Length", "cm", "", "numeric", "double", 179),
#     "armc":( "Arm Circumference", "cm", "", "numeric", "double", 188),
#     "waist":( "Waist Circumference", "cm", "", "numeric", "double", 239),
#     "tri":( "Triceps Skinfold", "mm", "", "numeric", "double", 481),
#     "sub":( "Subscapular Skinfold", "mm", "", "numeric", "double", 971),
#     "gh":( "Glycohemoglobin", "%", "", "numeric", "double", 0),
#     "albumin":( "Albumin", "g/dL", "", "numeric", "double", 89),
#     "bun":( "Blood urea nitrogen", "mg/dL", "", "integer", "integer", 89),
#     "SCr":( "Creatinine", "mg/dL", "", "numeric", "double", 89)
# ]

# Create a SQLite3 database and a cursor object
conn = sqlite3.connect('gh_data.db')
cursor = conn.cursor()

# Create the tables
patient_bg = ["seqn", "sex", "age", "re", "income"]
gh_data[patient_bg].to_sql('Patient_bg', conn, index=False)

# patient_medical_hist = ["seqn", "tx", "dx", "diabetes"]
# gh_data[patient_bg].to_sql('patient_bg', conn, index=False)

# patient_body_measurements = ["seqn", "wt", "ht", "bmi", "leg", "arml", "armc", "waist", "tri", "sub"]
# patient_blood_test_results = ["seqn", "gh", "albumin", "bun", "SCr"]



# cursor.execute('''CREATE TABLE data (
#                     id INTEGER PRIMARY KEY,
#                     Name TEXT,
#                     Labels TEXT,
#                     Units TEXT,
#                     Levels INTEGER,
#                     Class TEXT,
#                     Storage TEXT,
#                     NAs INTEGER
#                 )''')

# # Insert data into the table
# for field in data_dictionary:
#     cursor.execute('INSERT INTO data (Name, Labels, Units, Levels, Class, Storage, NAs) VALUES (?, ?, ?, ?, ?, ?, ?)', field)

conn

sql = "SELECT * FROM Patient_bg"
        cursor.execute(sql)
print(cursor.fetchall())

# Commit changes and close connection
conn.commit()
conn.close()

print("Database created successfully.")

Database created successfully.